@import "_variables";

body {
  margin: 0;
  font-family: Lato, sans-serif;
}

.header {
  background: #222222;
  height: 74px;
  padding: 18px 16px;
  box-sizing: border-box;

  @media (min-width: 768px) {
    padding-left: 32px;
    padding-right: 32px;
  }

  i {
    color: #e8e8e8;
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .userIcon,
  .cartIconWrap {
    display: none;
    @media (min-width: 768px) {
      display: inline;

    }
  }


  .userIcon {
    margin-left: 25px;
    margin-right: 42px;
  }

  .searchIcon {
    margin-left: 41px;
  }

  .cartIconWrap {
    position: relative;

    span {
      display: inline-block;
      width: 19px;
      height: 19px;
      color: white;
      background: $majorColor;
      border-radius: 50%;
      position: absolute;
      text-align: center;
      right: -8px;
      top: -19px;
      font-size: 12px;
      line-height: 19px;
    }
  }

}


@media (min-width: 1600px) {
  .container {
    margin: 0 auto;
    width: 1140px;
  }
}


.newArrivals {
  background: #f8f3f4;
  min-height: 148px;

  h1 {
    margin: 0;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    color: $majorColor;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: inherit;

    @media (min-width: 768px) {
      justify-content: flex-start;
    }

    @media (min-width: 768px) and (max-width: 1599px) {
      padding: 0 16px;
    }

  }

}


.hidden {
  display: none;
}

.registration {
  margin-top: 40px;

  @media (max-width: 767px) {
    padding: 0 8px;
  }

  @media (min-width: 768px) and (max-width: 1599px) {
    padding: 0 16px;
  }

  @media (min-width: 768px) {
    display: flex;
    justify-content: space-between;
  }

  .registrationLeft {

    @media (min-width: 768px) and (max-width: 1599px) {
      margin-right: 22px;
    }

    @media (min-width: 1600px) {
      margin-right: 128px;
    }

    .registrationNameLabel {
      font-weight: 300;
      font-size: 16px;
      line-height: 19px;
      color: #222222;
    }

    .registrationInput {
      border: 1px solid #A4A4A4;
      height: 44px;
      width: 100%;
      box-sizing: border-box;
      padding: 12px 16px;
      font-weight: 300;
      font-size: 13px;
      line-height: 16px;
      color: #B1B1B1;
      font-family: inherit;
      margin-top: 19px;

      &::placeholder {
        font-family: inherit;
        font-weight: 300;
        font-size: 13px;
        line-height: 16px;
        color: #B1B1B1;

      }
    }

    .registrationGender {
      margin-top: 31px;
      font-weight: 300;
      margin-bottom: 33px;
      font-size: 11px;
      line-height: 13px;
      color: #000000;
      display: flex;
      align-items: center;

      input {
        margin-right: 10px;

        &:not(:first-of-type) {
          margin-left: 20px;
        }
      }
    }

    .registrationLoginLabel {
      font-weight: 300;
      font-size: 16px;
      line-height: 19px;
      color: #222222;
    }

    .registrationText {
      font-weight: 300;
      font-size: 13px;
      line-height: 16px;
      color: #B1B1B1;
      margin-top: 15px;
      margin-bottom: 39px;
    }

    .registrationButton {
      background: $majorColor;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      color: #FFFFFF;
      width: 167px;
      height: 50px;
      border: none;
      font-family: inherit;

      img {
        margin-left: 20px;
      }
    }
  }


  .registrationRight {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #000000;


    @media (max-width: 767px) {
      margin-top: 40px;
    }

    @media (min-width: 1600px) {
      margin-top: 40px;
      font-size: 24px;
      line-height: 29px;
      color: #000000;
    }


    .registrationRightTitle {
      margin-bottom: 32px;
    }

    .registrationRightText {
      margin-bottom: 22px;
    }

    .registrationRightList {
      padding-left: 0;
      margin: 0;
      list-style-type: none;

      li {
        background: url("#{$imagesPath}/registerArrow.svg") no-repeat;
        padding-left: 42px;

        &:not(:first-child) {
          margin-top: 16px;
        }
      }

    }
  }


}

.subscribe {
  background: url(#{$imagesPath}/subscribe.jpg) no-repeat;
  background-size: cover;
  padding: 64px 20px 109px;
  margin-top: 96px;

  @media (min-width: 768px) {
    margin-top: 128px;
  }

  @media (min-width: 1600px) {
    margin-top: 119px;
  }

  @media (min-width: 1200px) {
    padding-top: 97px;
    padding-bottom: 126px;
  }

  .container {
    @media (min-width: 1200px) {
      margin: 0 auto;
      width: 1140px;
      display: flex;
      justify-content: space-between;
    }
  }

  .subscribeLeft {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .subscribeUserText {
    margin-top: 30px;
    text-align: center;
    font-size: 18px;
    line-height: 22px;
    color: #222224;
    max-width: 330px;
  }

  .subscribeRight {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 65px;

    @media (min-width: 1200px) {
      margin-top: initial;
    }

    .subscribeTitle {
      font-weight: 700;
      font-size: 24px;
      color: #222224;
    }

    .subscribeTitle,
    .subscribeText {
      max-width: 271px;
      text-align: center;
    }

    .subscribeText {
      font-size: 14px;
      color: #222224;
      margin-bottom: 22px;
    }

    .subscribeForm {
      height: 47px;

      input {
        height: inherit;
        background: #e1e1e1;
        border: none;
        padding: 6px 21px;
        box-sizing: border-box;
        border-top-left-radius: 28px;
        border-bottom-left-radius: 28px;
        float: left;
        width: 185px;
      }

      &::-webkit-input-placeholder {
        color: #222224;
        font-family: inherit;
        opacity: 0.67;
      }

      &::-moz-placeholder {
        color: #222224;
        font-family: inherit;
        opacity: 0.67;
      }

      &::-ms-input-placeholder {
        color: #222224;
        font-family: inherit;
        opacity: 0.67;
      }

      &::-moz-placeholder {
        color: #222224;
        font-family: inherit;
        opacity: 0.67;
      }

      button {
        height: inherit;
        border: none;
        color: white;
        font-family: inherit;
        font-size: 14px;
        line-height: 17px;
        background: $majorColor;
        border-top-right-radius: 28px;
        border-bottom-right-radius: 28px;
        padding: 0 17px;
      }
    }
  }
}


.footer {
  background: #222224;
  padding: 43px 20px 10px;

  @media (min-width: 768px) {
    padding: 24px 32px;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: 768px) {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  .footerLeft {
    display: flex;
  }

  a {
    color: black;
    background: white;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;

    &:hover {
      background: $majorColor;
      color: white;
    }

    &:not(:last-child) {
      margin-right: 7px;
    }
  }

  .footerRight {
    color: white;
    @media (max-width: 767px) {
      margin-top: 40px;
    }
  }

}


