@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
body {
  margin: 0;
  font-family: Lato, sans-serif;
}

.header {
  background: #222222;
  height: 74px;
  padding: 18px 16px;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .header {
    padding-left: 32px;
    padding-right: 32px;
  }
}
.header i {
  color: #e8e8e8;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .userIcon,
.header .cartIconWrap {
  display: none;
}
@media (min-width: 768px) {
  .header .userIcon,
.header .cartIconWrap {
    display: inline;
  }
}
.header .userIcon {
  margin-left: 25px;
  margin-right: 42px;
}
.header .searchIcon {
  margin-left: 41px;
}
.header .cartIconWrap {
  position: relative;
}
.header .cartIconWrap span {
  display: inline-block;
  width: 19px;
  height: 19px;
  color: white;
  background: #f16d7f;
  border-radius: 50%;
  position: absolute;
  text-align: center;
  right: -8px;
  top: -19px;
  font-size: 12px;
  line-height: 19px;
}

@media (min-width: 1600px) {
  .container {
    margin: 0 auto;
    width: 1140px;
  }
}
.newArrivals {
  background: #f8f3f4;
  min-height: 148px;
}
.newArrivals h1 {
  margin: 0;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #f16d7f;
}
.newArrivals .container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: inherit;
}
@media (min-width: 768px) {
  .newArrivals .container {
    justify-content: flex-start;
  }
}
@media (min-width: 768px) and (max-width: 1599px) {
  .newArrivals .container {
    padding: 0 16px;
  }
}

.hidden {
  display: none;
}

.registration {
  margin-top: 40px;
}
@media (max-width: 767px) {
  .registration {
    padding: 0 8px;
  }
}
@media (min-width: 768px) and (max-width: 1599px) {
  .registration {
    padding: 0 16px;
  }
}
@media (min-width: 768px) {
  .registration {
    display: flex;
    justify-content: space-between;
  }
}
@media (min-width: 768px) and (max-width: 1599px) {
  .registration .registrationLeft {
    margin-right: 22px;
  }
}
@media (min-width: 1600px) {
  .registration .registrationLeft {
    margin-right: 128px;
  }
}
.registration .registrationLeft .registrationNameLabel {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}
.registration .registrationLeft .registrationInput {
  border: 1px solid #A4A4A4;
  height: 44px;
  width: 100%;
  box-sizing: border-box;
  padding: 12px 16px;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
  font-family: inherit;
  margin-top: 19px;
}
.registration .registrationLeft .registrationInput::placeholder {
  font-family: inherit;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
}
.registration .registrationLeft .registrationGender {
  margin-top: 31px;
  font-weight: 300;
  margin-bottom: 33px;
  font-size: 11px;
  line-height: 13px;
  color: #000000;
  display: flex;
  align-items: center;
}
.registration .registrationLeft .registrationGender input {
  margin-right: 10px;
}
.registration .registrationLeft .registrationGender input:not(:first-of-type) {
  margin-left: 20px;
}
.registration .registrationLeft .registrationLoginLabel {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}
.registration .registrationLeft .registrationText {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
  margin-top: 15px;
  margin-bottom: 39px;
}
.registration .registrationLeft .registrationButton {
  background: #f16d7f;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  width: 167px;
  height: 50px;
  border: none;
  font-family: inherit;
}
.registration .registrationLeft .registrationButton img {
  margin-left: 20px;
}
.registration .registrationRight {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}
@media (max-width: 767px) {
  .registration .registrationRight {
    margin-top: 40px;
  }
}
@media (min-width: 1600px) {
  .registration .registrationRight {
    margin-top: 40px;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
  }
}
.registration .registrationRight .registrationRightTitle {
  margin-bottom: 32px;
}
.registration .registrationRight .registrationRightText {
  margin-bottom: 22px;
}
.registration .registrationRight .registrationRightList {
  padding-left: 0;
  margin: 0;
  list-style-type: none;
}
.registration .registrationRight .registrationRightList li {
  background: url("../images/registerArrow.svg") no-repeat;
  padding-left: 42px;
}
.registration .registrationRight .registrationRightList li:not(:first-child) {
  margin-top: 16px;
}

.subscribe {
  background: url(../images/subscribe.jpg) no-repeat;
  background-size: cover;
  padding: 64px 20px 109px;
  margin-top: 96px;
}
@media (min-width: 768px) {
  .subscribe {
    margin-top: 128px;
  }
}
@media (min-width: 1600px) {
  .subscribe {
    margin-top: 119px;
  }
}
@media (min-width: 1200px) {
  .subscribe {
    padding-top: 97px;
    padding-bottom: 126px;
  }
}
@media (min-width: 1200px) {
  .subscribe .container {
    margin: 0 auto;
    width: 1140px;
    display: flex;
    justify-content: space-between;
  }
}
.subscribe .subscribeLeft {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.subscribe .subscribeUserText {
  margin-top: 30px;
  text-align: center;
  font-size: 18px;
  line-height: 22px;
  color: #222224;
  max-width: 330px;
}
.subscribe .subscribeRight {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 65px;
}
@media (min-width: 1200px) {
  .subscribe .subscribeRight {
    margin-top: initial;
  }
}
.subscribe .subscribeRight .subscribeTitle {
  font-weight: 700;
  font-size: 24px;
  color: #222224;
}
.subscribe .subscribeRight .subscribeTitle,
.subscribe .subscribeRight .subscribeText {
  max-width: 271px;
  text-align: center;
}
.subscribe .subscribeRight .subscribeText {
  font-size: 14px;
  color: #222224;
  margin-bottom: 22px;
}
.subscribe .subscribeRight .subscribeForm {
  height: 47px;
}
.subscribe .subscribeRight .subscribeForm input {
  height: inherit;
  background: #e1e1e1;
  border: none;
  padding: 6px 21px;
  box-sizing: border-box;
  border-top-left-radius: 28px;
  border-bottom-left-radius: 28px;
  float: left;
  width: 185px;
}
.subscribe .subscribeRight .subscribeForm::-webkit-input-placeholder {
  color: #222224;
  font-family: inherit;
  opacity: 0.67;
}
.subscribe .subscribeRight .subscribeForm::-moz-placeholder {
  color: #222224;
  font-family: inherit;
  opacity: 0.67;
}
.subscribe .subscribeRight .subscribeForm::-ms-input-placeholder {
  color: #222224;
  font-family: inherit;
  opacity: 0.67;
}
.subscribe .subscribeRight .subscribeForm::-moz-placeholder {
  color: #222224;
  font-family: inherit;
  opacity: 0.67;
}
.subscribe .subscribeRight .subscribeForm button {
  height: inherit;
  border: none;
  color: white;
  font-family: inherit;
  font-size: 14px;
  line-height: 17px;
  background: #f16d7f;
  border-top-right-radius: 28px;
  border-bottom-right-radius: 28px;
  padding: 0 17px;
}

.footer {
  background: #222224;
  padding: 43px 20px 10px;
}
@media (min-width: 768px) {
  .footer {
    padding: 24px 32px;
  }
}
.footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .footer .container {
    flex-direction: row;
    justify-content: space-between;
  }
}
.footer .footerLeft {
  display: flex;
}
.footer a {
  color: black;
  background: white;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.footer a:hover {
  background: #f16d7f;
  color: white;
}
.footer a:not(:last-child) {
  margin-right: 7px;
}
.footer .footerRight {
  color: white;
}
@media (max-width: 767px) {
  .footer .footerRight {
    margin-top: 40px;
  }
}

/*# sourceMappingURL=style.css.map */
