@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

body {
    margin: 0;
    font-family: Lato, sans-serif;
}

.header {
    background: #222222;
    height: 74px;
    padding: 18px 16px;
    box-sizing: border-box;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (min-width: 1600px) {
    .container {
        margin: 0 auto;
        width: 1140px;
    }
}

@media (min-width: 768px) {
    .header {
        padding-left: 32px;
        padding-right: 32px;
    }
}

.header i {
    color: #e8e8e8;
}

.userIcon,
.cartIconWrap {
    display: none;
}

@media (min-width: 768px) {
    .userIcon,
    .cartIconWrap {
        display: inline;
    }
}

.userIcon {
    margin-left: 25px;
    margin-right: 42px;
}

.searchIcon {
    margin-left: 41px;
}

.cartIconWrap {
    position: relative;
}

.cartIconWrap span {
    display: inline-block;
    width: 19px;
    height: 19px;
    color: white;
    background: #f16d7f;
    border-radius: 50%;
    position: absolute;
    text-align: center;
    right: -8px;
    top: -19px;
    font-size: 12px;
    line-height: 19px;
}

.brandWrap {
    position: relative;
    min-height: 363px;
}

.brandInsideWrap {
    min-height: inherit;
}

@media (min-width: 768px) {
    .brandInsideWrap {
        display: flex;

    }

    .brandInsideWrap > div {
        width: 50%;
    }
}

.brandLeft {
    display: none;
}

@media (min-width: 768px) {
    .brandLeft {
        display: block;
    }
}

.brandLeft img {
    display: block;
    width: 100%;
}

.brandRight {
    background: #f1e4e6;
    min-height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #222222;
}

@media (min-width: 1600px) {
    .brandRight {
        justify-content: flex-start;
    }
}

.brandPromoWrap {
    border-left: 12px solid #F16D7F;
    padding-left: 15px;
    height: 61px;
}

@media (min-width: 768px) {
    .brandPromoWrap {
        height: 78px;
    }
}

@media (min-width: 1600px) {
    .brandPromoWrap {
        margin-left: 64px;
    }
}

.brandPromoWrap div:first-child {
    font-weight: 900;
    font-size: 38px;
    line-height: 27px;
}

@media (min-width: 768px) {
    .brandPromoWrap div:first-child {
        font-size: 44px;
        line-height: 33px;
    }
}

@media (min-width: 1600px) {
    .brandPromoWrap div:first-child {
        font-size: 48px;
    }
}

.brandPromoWrap div:last-child {
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    margin-top: 14px;
}

@media (min-width: 768px) {
    .brandPromoWrap div:last-child {
        margin-top: 25px;
    }
}

@media (min-width: 1600px) {
    .brandPromoWrap div:last-child {
        font-size: 32px;
        margin-top: 21px;
    }
}

.brandPromoWrap span {
    color: #F16D7F;
}

.brandDark {
    position: absolute;

    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.hidden {
    display: none;
}


.menu {
    width: 232px;
    height: inherit;
    background: white;
    margin-left: auto;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    padding: 37px 24px;
    box-sizing: border-box;
    max-height: inherit;
    overflow: auto;
}

.menuTitle {
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-bottom: 16px;
}

.menuHeader {
    font-size: 14px;
    line-height: 33px;
    color: #F16D7F;
}

.menuUnit a {
    display: block;
    font-size: 14px;
    line-height: 33px;
    color: #6F6E6E;
    text-decoration: none;
    margin-left: 21px;
    position: relative;
}

.menuClose {
    position: absolute;
    right: 16px;
    top: 16px;
}

.offers {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 247px) 111px;
    row-gap: 32px;
    padding: 64px 16px;
}

@media (min-width: 768px) {
    .offers {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 167px 116px;
        gap: 20px;
    }

    .offerAccessories {
        grid-column: 1/-1;
    }
}

.offers img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;

}

.offers > div {
    position: relative;
}

.offerTitle {
    position: relative;
    z-index: 1;
    color: white;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

.offerTitleBottom {
    font-weight: 700;
    font-size: 24px;
    color: #F16D7F;
}

.featured {
    padding-right: 8px;
    padding-left: 8px;
    margin-bottom: 96px;
}

@media (min-width: 768px) {
    .featured {
        padding-left: 16px;
        padding-right: 16px;
    }
}

@media (min-width: 1600px) {
    .featured {
        padding-left: 0;
        padding-right: 0;
    }
}


.featured h2 {
    margin-top: 0;
    margin-bottom: 3px;
    text-align: center;
    color: #222222;
}

.featuredTitle {
    text-align: center;
    color: #9F9F9F;
    margin-bottom: 64px;
}

.featuredItems {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 16px;
}

@media (min-width: 640px) {
    .featuredItems {
        grid-template-columns: 1fr 1fr;
        row-gap: 18px;
        column-gap: 16px;
    }
}

@media (min-width: 1000px) {
    .featuredItems {
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
    }
}

.featuredItem {
    background: #F8F8F8;
}

.featuredItem img {
    width: 100%;
    display: block;
}

.featuredImgWrap {
    position: relative;
}

.featuredItem:hover .featuredImgDark {
    display: flex;
}


.featuredImgDark {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(58, 56, 56, 0.86);
    display: none;
    align-items: center;
    justify-content: center;
}

.featuredImgDark button {
    background: none;
    border: solid 1px white;
    color: white;
    display: flex;
    align-items: center;
    padding: 10px 14px;
    font-size: 14px;
    font-family: inherit;
}

.featuredImgDark button img {
    width: 26px;
    height: 24px;
    margin-right: 11px;
}

.featuredData {
    padding: 23px 16px 20px;
}

.featuredName {
    font-size: 13px;
    line-height: 16px;
    color: #000000;
}

.featuredText {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
    margin-top: 12px;
    margin-bottom: 18px;
}

.featuredPrice {
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
}

.featuredBrowseBtn {
    border: 1px solid #FF6A6A;
    margin-top: 40px;
    padding: 15px 40px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    background: none;

    color: #F26736;
    font-family: inherit;
    font-size: 16px;
    line-height: 19px;
}

.featuredBrowseBtn:hover {
    color: white;
    background: #FF6A6A;
}

.services {
    background: rgba(34, 34, 36, 1);
    padding: 48px 14px 81px;
}

.services .container {
    display: grid;
    gap: 46px;
}

@media (min-width: 1200px) {
    .services .container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 46px;
    }
}

@media (min-width: 1200px) {
    .services {
        padding-top: 100px;
        padding-bottom: 100px;
    }
}

.serviceUnit {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.servicesTitle,
.servicesText {
    color: #FBFBFB;
}

.servicesTitle {
    font-size: 20px;
    line-height: 24px;
    margin-top: 27px;
    margin-bottom: 15px;
}

.servicesText {
    font-size: 14px;
    line-height: 17px;
    max-width: 340px;
}

.subscribe {
    background: url("images/subscribe.png") no-repeat;
    background-size: cover;
    padding: 64px 20px 109px;
}

@media (min-width: 1200px) {
    .subscribe {
        padding-top: 97px;
        padding-bottom: 126px;

    }

    .subscribe .container {
        margin: 0 auto;
        width: 1140px;
        display: flex;
        justify-content: space-between;
    }

}

.subscribeLeft {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subscribeUserText {
    margin-top: 30px;
    text-align: center;
    font-size: 18px;
    line-height: 22px;
    color: #222224;
    max-width: 330px;
}

.subscribeRight {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 65px;
}

@media (min-width: 1200px) {
    .subscribeRight {
        margin-top: initial;
    }
}

.subscribeTitle {
    font-weight: 700;
    font-size: 24px;
}

.subscribeTitle,
.subscribeText {
    max-width: 271px;
    text-align: center;
}

.subscribeText {
    font-size: 14px;
    color: #222224;
    margin-bottom: 22px;
}

.subscribeForm {
    height: 47px;
}

.subscribeForm input {
    height: inherit;
    background: #E1E1E1;
    border: none;
    padding: 6px 21px;
    box-sizing: border-box;
    border-top-left-radius: 28px;
    border-bottom-left-radius: 28px;
    float: left;
    width: 185px;
}

.subscribeForm input::-webkit-input-placeholder {
    color: #8B8B8C;
    opacity: 0.67;
    font-family: inherit;
}

.subscribeForm input:-ms-input-placeholder {
    color: #8B8B8C;
    opacity: 0.67;
    font-family: inherit;
}

.subscribeForm input::-ms-input-placeholder {
    color: #8B8B8C;
    opacity: 0.67;
    font-family: inherit;
}

.subscribeForm input::placeholder {
    color: #8B8B8C;
    opacity: 0.67;
    font-family: inherit;
}

.subscribeForm button {
    height: inherit;
    border: none;
    color: white;
    font-family: inherit;
    font-size: 14px;
    line-height: 17px;
    background: #F16D7F;
    border-top-right-radius: 28px;
    border-bottom-right-radius: 28px;
    padding: 0 17px;
}

.footer {
    background: #222224;
    padding: 43px 20px 10px;
}

@media (min-width: 768px) {
    .footer {
        padding: 24px 32px;
    }
}

.footer .container {
    display: flex;
    flex-direction: column;
    align-items: center;

}

@media (min-width: 768px) {
    .footer .container {
        flex-direction: row-reverse;
        justify-content: space-between;
    }
}

.footerLeft {
    display: flex;
}


.footer a {
    color: black;
    background: white;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.footer a:hover {
    background: #f16d7f;
    color: white;
}

.footer a:not(:last-child) {
    margin-right: 7px;
}

.footerRight {
    color: white;

}

@media (max-width: 768px) {
    .footerRight {
        margin-top: 40px;
    }
}