@import "_variables";

body {
  margin: 0;
  font-family: Lato, sans-serif;
}

.header {
  background: #222222;
  height: 74px;
  padding: 18px 16px;
  box-sizing: border-box;

  @media (min-width: 768px) {
    padding-left: 32px;
    padding-right: 32px;
  }

  i {
    color: #e8e8e8;
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .userIcon,
  .cartIconWrap {
    display: none;
    @media (min-width: 768px) {
      display: inline;

    }
  }


  .userIcon {
    margin-left: 25px;
    margin-right: 42px;
  }

  .searchIcon {
    margin-left: 41px;
  }

  .cartIconWrap {
    position: relative;

    span {
      display: inline-block;
      width: 19px;
      height: 19px;
      color: white;
      background: $majorColor;
      border-radius: 50%;
      position: absolute;
      text-align: center;
      right: -8px;
      top: -19px;
      font-size: 12px;
      line-height: 19px;
    }
  }

}


@media (min-width: 1600px) {
  .container {
    margin: 0 auto;
    width: 1140px;
  }
}


.newArrivals {
  background: #f8f3f4;
  min-height: 148px;

  h1 {
    margin: 24px 0 32px;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    color: $majorColor;
    @media (min-width: 768px) {
      margin: 0;
    }
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: inherit;

    @media (min-width: 768px) {
      flex-direction: row;
      justify-content: space-between;
    }

    @media (min-width: 768px) and (max-width: 1599px) {
      padding: 0 16px;
    }

  }

  nav {
    a, span {
      font-weight: 300;
      font-size: 14px;
      line-height: 17px;
      color: #636363;
    }

    a {
      text-decoration: none;

      &:last-of-type {
        font-weight: bold;
        font-size: 14px;
        line-height: 17px;
        color: $majorColor;
      }
    }

    span {
      margin: 0 3px;
    }
  }
}

.hidden {
  display: none;
}

.slider {
  min-height: 624px;
  border: 1px solid #eaeaea;
  background-color: #f7f7f7;
  position: relative;

  @media (min-width: 1600px) {
    min-height: 777px;
  }

  .sliderImage {
    max-width: 100%;
    object-fit: cover;
    margin: 85px auto 0;
    display: block;

    @media (min-width: 768px) {
      margin-top: 30px;
    }

    @media (min-width: 1600px) {
      margin-top: 11px;
    }
  }

  .sliderLeftArrow,
  .sliderRightArrow {
    width: 47px;
    height: 47px;
    background-color: rgba(42, 42, 42, 0.15);
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    top: calc(50% - 47px / 2);
    cursor: pointer;
  }

  .sliderLeftArrow {
    left: 0;
    background-image: url(#{$imagesPath}/slider/sliderLeftArrow.svg);

    &:hover {
      background-image: url(#{$imagesPath}/slider/leftArrowHover.svg);
    }
  }

  .sliderRightArrow {
    right: 0;
    background-image: url(#{$imagesPath}/slider/sliderRightArrow.svg);

    &:hover {
      background-image: url(#{$imagesPath}/slider/rightArrowHover.svg);
    }
  }

}

.collection {
  padding: 64px 24px;
  border: 1px solid #eaeaea;
  margin-bottom: 64px;
  background: white;
  @media (min-width: 768px) {
    margin-bottom: 29px;
  }
  @media (min-width: 1600px) {
    margin-top: -64px;
    position: relative;
    padding-left: 0;
    padding-right: 0;
  }

  .collectionTitle {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: $majorColor;
    text-align: center;
    margin-top: 0;
    margin-bottom: 12px;
  }

  .collectionDividerPink {
    height: 3px;
    width: 63px;
    background: $majorColor;
    margin: 0 auto 12px;
  }

  .collectionDesc {
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: #4D4D4D;
    text-align: center;
    margin-bottom: 32px;
  }

  .collectionText {
    font-weight: 300;
    font-size: 14px;
    line-height: 143.1%;
    text-align: center;
    color: #5E5E5E;
    margin-bottom: 32px;
    max-width: 326px;
    margin-left: auto;
    margin-right: auto;

    @media (min-width: 768px) {
      max-width: 555px;
    }
  }

  .collectionPrice {
    font-weight: 300;
    font-size: 24px;
    line-height: 130%;
    color: $majorColor;
    text-align: center;
    margin-bottom: 32px;
  }

  .collectionDividerGrey {
    height: 1px;
    width: 175px;
    margin: 0 auto 49px;
    background: #EAEAEA;

    @media (min-width: 768px) {
      width: 642px;
    }
  }

  .collectionSizes {
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #6F6E6E;
    display: flex;
    justify-content: space-between;
    max-width: 304px;
    margin: 0 auto 64px;

    img {
      margin-left: 3px;
      @media (min-width: 375px) {
        margin-left: 10px;
      }
    }
  }

  button {
    background: none;
    border: $majorColor 1px solid;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: $majorColor;
    display: flex;
    align-items: center;
    font-style: normal;
    padding: 15px 24px;
    margin: 0 auto;

    img {
      margin-right: 23px;
    }
  }

}


.featured {
  padding-left: 8px;
  padding-right: 8px;
  margin-bottom: 96px;

  @media (min-width: 768px) {
    padding-left: 16px;
    padding-right: 16px;
  }

  @media (min-width: 1600px) {
    padding-left: 0;
    padding-right: 0;
  }

  .featuredItems {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 16px;
    @media (min-width: 640px) {
      grid-template-columns: 1fr 1fr;
      row-gap: 18px;
      column-gap: 16px;
    }

    @media (min-width: 1000px) {
      grid-template-columns: repeat(3, 1fr);
      gap: 30px;
    }
  }

  .featuredItem {
    background: #f8f8f8;

    &:last-child {
      display: none;
      @media (min-width: 1000px) {
        display: block;
      }
    }

    &:hover .featuredImgDark {
      display: flex;
    }

    img {
      width: 100%;
      display: block;
    }

    .featuredImgWrap {
      position: relative;
    }

    .featuredImgDark {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background: rgba(58, 56, 56, 0.86);
      display: none;
      justify-content: center;
      align-items: center;

      button {
        background: none;
        border: 1px solid white;
        color: white;
        display: flex;
        align-items: center;
        padding: 10px 14px;
        font-size: 14px;
        font-family: inherit;

        img {
          width: 26px;
          height: 24px;
          margin-right: 11px;
        }
      }

    }

    .featuredData {
      padding: 23px 16px 20px;

      .featuredName {
        font-size: 13px;
        line-height: 16px;
        color: #000000;
      }

      .featuredText {
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        margin-top: 12px;
        margin-bottom: 18px;
      }

      .featuredPrice {
        font-size: 16px;
        line-height: 19px;
        color: $majorColor;
      }

    }
  }


}

.subscribe {
  background: url(#{$imagesPath}/subscribe.jpg) no-repeat;
  background-size: cover;
  padding: 64px 20px 109px;

  @media (min-width: 1200px) {
    padding-top: 97px;
    padding-bottom: 126px;
  }

  .container {
    @media (min-width: 1200px) {
      margin: 0 auto;
      width: 1140px;
      display: flex;
      justify-content: space-between;
    }
  }

  .subscribeLeft {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .subscribeUserText {
    margin-top: 30px;
    text-align: center;
    font-size: 18px;
    line-height: 22px;
    color: #222224;
    max-width: 330px;
  }

  .subscribeRight {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 65px;

    @media (min-width: 1200px) {
      margin-top: initial;
    }

    .subscribeTitle {
      font-weight: 700;
      font-size: 24px;
      color: #222224;
    }

    .subscribeTitle,
    .subscribeText {
      max-width: 271px;
      text-align: center;
    }

    .subscribeText {
      font-size: 14px;
      color: #222224;
      margin-bottom: 22px;
    }

    .subscribeForm {
      height: 47px;

      input {
        height: inherit;
        background: #e1e1e1;
        border: none;
        padding: 6px 21px;
        box-sizing: border-box;
        border-top-left-radius: 28px;
        border-bottom-left-radius: 28px;
        float: left;
        width: 185px;
      }

      &::-webkit-input-placeholder {
        color: #222224;
        font-family: inherit;
        opacity: 0.67;
      }

      &::-moz-placeholder {
        color: #222224;
        font-family: inherit;
        opacity: 0.67;
      }

      &::-ms-input-placeholder {
        color: #222224;
        font-family: inherit;
        opacity: 0.67;
      }

      &::-moz-placeholder {
        color: #222224;
        font-family: inherit;
        opacity: 0.67;
      }

      button {
        height: inherit;
        border: none;
        color: white;
        font-family: inherit;
        font-size: 14px;
        line-height: 17px;
        background: $majorColor;
        border-top-right-radius: 28px;
        border-bottom-right-radius: 28px;
        padding: 0 17px;
      }
    }
  }
}


.footer {
  background: #222224;
  padding: 43px 20px 10px;

  @media (min-width: 768px) {
    padding: 24px 32px;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: 768px) {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  .footerLeft {
    display: flex;
  }

  a {
    color: black;
    background: white;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;

    &:hover {
      background: $majorColor;
      color: white;
    }

    &:not(:last-child) {
      margin-right: 7px;
    }
  }

  .footerRight {
    color: white;
    @media (max-width: 767px) {
      margin-top: 40px;
    }
  }

}


